{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <main role="main" class="container text-center col-lg-3">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors.as_text }}
                </div>
            {% endif %}
            <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="30" name="{{ form.username.html_name }}" placeholder="Username" type="text"required>
            <input class="form-control mt-2" id="{{ form.password.id_for_label }}" maxlength="30" name="{{ form.password.html_name }}" placeholder="Password" type="password" required>
            <button type="submit" class="btn btn-light mt-2">
                Login
            </button>
        </form>
        <a class="btn btn-light mt-4" href="/accounts/signup">
            Not registered? Sign Up
        </a>
    </main>
{% endblock %}