{% extends "base.html" %}

{% block title %}
Pay your debt!
{% endblock %}

{% block navigation %}
    {% with "pay-debt" as active %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <main role="main" class="container text-center col-lg-3">
        {% if to %}
            {% if confirmed %}
                Confirmed!
                <br />
                <a class="btn btn-primary mt-4" href="/">
                    Return to Home
                    <i class="fas fa-home"></i>
                </a>
            {% else %}
                Asking {{ to }} for confirmation. Please ask {{ to }} to enter the website (they should have a notification in the home page).
                <br />
                <button class="btn btn-primary mt-4" onclick="window.location.reload();">
                    Refresh Page
                </button>
            {% endif %}
        {% else %}
            <form method="POST">
                {% csrf_token %}
                <input class="form-control" type="text" placeholder="User" name="user" required>
                <input class="form-control mt-2" type="number" step=0.01 placeholder="Amount" name="amount" required>
                <button type="submit" class="btn btn-light mt-2">
                    Pay
                </button>
            </form>
        {% endif %}
    </main>
{% endblock %}