{% extends "base.html" %}

{% block title %}
Purchase
{% endblock %}

{% block content %}
    {% if not group_name %}
        <h2>
        Go to your own purchase page!
        </h2>

        <script>
            function go() {
                window.location.href = "./" + document.getElementById("page").value;
            }
        </script>

        <input type="text" id="page" required>
        <button onclick="go();">
            Go!
        </button>
    {% else %}
        {% for user in users %}
            {{ user.coin_set.all }}
        {% endfor %}
    {% endif %}
{% endblock %}