{% extends "base.html" %}

{% block title %}
Purchase
{% endblock %}

{% block navigation %}
    {% with "purchase" as active %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    {% if not group_name %}
        <main role="main" class="container text-center col-lg-5">
            <h2>
            Go to your own purchase page!
            </h2>

            <script>
                function go() {
                    window.location.href = "./" + document.getElementById("page").value;
                }
            </script>

            <div class="input-group width-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>
                <input class="form-control" type="text" id="page" width=20 required>
            </div>
            <br />
            <button class="btn btn-primary" onclick="go();">
                Go!
            </button>
        </main>
    {% else %}
        <main role="main" class="container text-center col-lg-5">
            <table class="table table-dark">
                <thead class="rounded">
                    <tr>
                    <th scope="col">User</th>
                    <th scope="col">Coins</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user, coins in users %}
                        <tr>
                            <th scope="row">{{ user }}</th>
                            <td>
                                {% for coin in coins %}
                                    {% if user == request.user %}
                                        <form method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-light mb-1">
                                                {{ coin }}
                                            </button>
                                            <input type="hidden" value="{{ coin }}" name="coin">
                                        </form>
                                    {% else %}
                                        <button class="btn btn-light mb-1" disabled>
                                            {{ coin }}
                                        </button>
                                        <br />
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <form method="POST" class="mt-2 container col-lg-3">
                {% csrf_token %}
                <input class="form-control mb-2" type="number" step=0.01 name="amount" placeholder="Amount" required>
                <button type="submit" class="btn btn-dark w-100">
                    Add Coin
                    <i class="fas fa-coins ml-1"></i>
                </button>
            </form>

            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mt-4">
                    Complete Purchase
                    <i class="fas fa-cash-register ml-1"></i>
                </button>
                <input type="hidden" value="complete_purchase" name="complete_purchase">
            </form>

            <button class="btn btn-primary mt-4" onclick="window.location.reload();">
                Refresh Page
            </button>
        </main>
    {% endif %}
{% endblock %}